.wrapper {
}

.topSection {
}

.title {
  @apply text-4xl font-bold;
}

.description {
  @apply text-lg;
  @apply my-1 pt-0.5 pb-1;
}

.vizWrapper {
  @apply my-2;
}

.chartWrapper {
  @apply h-80;
  @apply border border-gray-300 rounded-sm;
}

.mapWrapper {
  @apply h-96;
  @apply border border-gray-300 rounded-sm;
}

.sourcesSection {
  @apply pl-1 py-0;
}
