.container {
  @apply inline-flex flex-col relative w-full;
}

.label {
  @apply block text-xs font-semibold text-gray-500 text-left cursor-default;
}

.button {
  @apply relative inline-flex flex-row  w-full;
  @apply bg-white border border-gray-300;
  @apply rounded-md py-2 px-3 shadow-sm  sm:text-sm;
  @apply focus:outline-none focus:border-sky-500 focus:ring-sky-500 focus:ring-1;
}

.value {
  @apply text-sm flex-grow text-left;
}

.selected {
  @apply text-gray-800;
}

.icon {
  @apply w-5 h-5;
}

.popoverContent {
  @apply bg-background;
  @apply border border-gray-300 rounded-md;
  @apply max-h-64 overflow-auto;
}
