*.log
.idea
.trash/
.DS_Store
*.pem

# build / dev
node_modules
dist
packages/*/*/src/*.js*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# typescript
*.tsbuildinfo

# for now
.run

storybook-static