.wrapper {
  @apply rounded border w-full relative shadow-md;
}

.pulser {
  @apply animate-pulse;
}

.header {
  @apply rounded-t p-2.5;
}

.typeLabel {
  @apply h-2 w-32 my-0.5;
}

.title {
  @apply h-4 w-64 my-1.5;
}

.description {
}

.dataVizWrapper {
  @apply py-1 px-2.5 w-full;
}

.dataViz {
  @apply rounded !important;
  @apply h-44 w-full;
  @apply aspect-video relative overflow-auto;
}

.extras {
  @apply p-2.5;
}

.sources {
}

.sourceLabel {
  @apply w-24 h-3 mb-2;
}

.source {
  @apply rounded !important;
  @apply w-36 h-5 my-1;
}

.menuSection {
  @apply p-2.5;
}

.button {
  @apply rounded !important;
  @apply w-24 h-8;
}

.box {
  @apply bg-gradient-to-r from-zinc-400 to-slate-400;
  @apply rounded-sm;
}

.textLine {
  @apply bg-gray-300 my-1 w-full h-2;
}

.textLineShort {
  @apply bg-gray-300 my-1 w-5/6 h-2;
}
