.wrapper {
  @apply rounded border w-full relative shadow-md;
}

.header {
  @apply rounded-t p-2.5;
}

.title {
  @apply font-medium;
}

.description {
  @apply text-xs italic text-gray-600;
}

.sources {
}

.extras {
  @apply p-2.5;
}

.menuSection {
  @apply border-b rounded-b p-2.5;
}

.dataViz {
  @apply p-2.5;
}

.vizPane {
  @apply aspect-video relative overflow-auto;
}

.typeLabel {
  @apply text-xs text-gray-500 flex items-center;
}

.typeIcon {
  @apply inline-block flex-shrink mr-0.5;
}
