/* This is required to make the table full-width */
.container {
  @apply block max-w-full p-0.5;
}

/* This will make the table scrollable when it gets too small */
.tableWrap {
  @apply block max-w-full overflow-x-scroll overflow-y-hidden;
}

table {
  /* Make sure the inner table is always as wide as needed */
  border-spacing: 0;
  @apply w-full text-sm;
}

tr:first-child > td:not(:first-child) {
  @apply border-t-2 border-gray-900;
}

tr:not(:first-child) > td {
  @apply border-t;
}

tr {
  font-style: normal;
}

tr.subrow {
  color: #777;
  font-style: italic;
}

tr.subrow > td {
  border-top: 0 !important;
  padding-top: 0;
}

tr.subrow > td:first-child {
  padding-left: 16px;
}

:last-child > td {
  border-bottom: 0;
}

th,
td {
  margin: 0;
  padding: 0;
  width: 1%;
}

th.field,
td.field {
  white-space: pre;
  width: 0.001%;
}

th:last-child,
td:last-child {
  border-right: 0;
}

td.field {
  text-align: right;
  @apply font-mono;
}

th.field {
  text-align: center;
}

span.moe {
  cursor: help;
  color: #0123ff;
}
