/* This is required to make the table full-width */
.container {
  @apply block max-w-full p-0.5;
}

.previewContainer {
}

/* This will make the table scrollable when it gets too small */
.tableWrap {
  @apply block max-w-full overflow-x-scroll overflow-y-hidden;
}

.tableElem {
  /* Make sure the inner table is always as wide as needed */
  border-spacing: 0;
  @apply w-full text-sm;
}

.row {
}

.mainRow {
}

.subrow {
  color: #777;
  font-style: italic;
}

.subrow > td {
  border-top: 0 !important;
  padding-top: 0;
}

.subrow > td:first-child {
  padding-left: 16px;
}

/* Old stuff */
tr:first-child > td:not(:first-child) {
  @apply border-t-2 border-gray-900;
}

tr:not(:first-child) > td {
  @apply border-t;
}

.field {
  white-space: pre;
  width: 0.001%;
}

.emptyHeader {
}

.categoryHeader {
}

th:last-child,
td:last-child {
  border-right: 0;
}

td.field {
  text-align: right;
  @apply font-mono;
}

th.field {
  text-align: center;
}

.moe {
  @apply cursor-help;
  @apply text-sky-700;
}
