@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Public Sans';
  src: url('assets/fonts/PublicSans/PublicSans-VariableFont_wght.ttf')
      format('truetype'),
    url('assets/fonts/PublicSans/PublicSans-Italic-VariableFont_wght.ttf')
      format('truetype');
  font-weight: normal;
  font-style: normal;
}

.mapboxgl-popup-tip {
  visibility: hidden !important;
}

.mapboxgl-popup-content {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
}
