.number {
  @apply text-gray-500 text-3xl;
}

.inPreview {
  @apply flex h-full items-center justify-center;
}

.name {
  @apply text-sm font-semibold p-0 m-0 text-gray-500 leading-none;
}

.valueGroup {
  @apply text-sm font-semibold p-0 m-0 text-gray-500 leading-none;
}

.value {
  @apply text-3xl text-gray-800;
}

.denom {
  @apply text-gray-500 text-sm;
}
