@tailwind base;
@tailwind components;
@tailwind utilities;

.mapboxgl-popup-content {
  background: none !important;
  margin: 0 !important;
  padding: 0 !important;
  box-shadow: none !important;
}

.mapboxgl-popup-tip {
  width: 0;
  height: 0;
  border: 10px solid transparent !important;
  z-index: 1;
}
