.container {
  @apply flex;
}

.markerSection {
  @apply mr-0.5 flex content-center justify-center text-gray-600;
}

.labelSection {
  @apply flex content-center justify-center;
}

.label {
  @apply text-xs;
}

.scaleContainer {
}

.colorBar {
  @apply w-full h-2 rounded border-gray-500 border pb-0.5;
}

.number {
  @apply text-xs;
}

.labelBar {
  @apply flex;
}

.stretcher {
  @apply flex-grow;
}
